<ion-view view-title="بحث">

    <div dir="rtl" style="margin-top:46px;">
        <div class="bar bar-header item-input-inset" style="padding: 0px">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon" style="font-size: 20px;padding: 8px"></i>
                <input type="search" placeholder="أكتب هنا،اسم أو رقم التلميذ(ة)"  style="height: 80px;width: 100%;font-size: 15px;color: rgba(128, 128, 128, 0.523)"
                    autocomplete="off" ng-model="textToSearch" ng-change="searchIt(textToSearch)" id="hdr-search-text" style="margin-right: 6px"
                    ng-disabled="students_view.length==0"> 
            </label>
            <button class="button button-clear" ng-click="clearText()" style="text-align: center">
                إلغاء
            </button>
        </div>
    </div>

    <ion-content style="margin-top:46px!important;">
        <div dir="rtl">


            <div ng-if="textToSearch==''" style="padding: 20px;text-align: center;text-align: justify;font-size: 20px;line-height: 28px;color: gainsboro">
                بحث سريع في جميع لوائح التلاميذ.
                <br>

            </div>

            <div ng-if="students_view.length>0">


                <!--     <ul class="list"> -->
                <div ng-if="textToSearch!='' && foundStudents.length==0" style="position: absolute;top:0;z-index: -10;padding: 16px;text-align: center;font-size: 1.7em;line-height: 2.0em;margin-top: 3%;color: gainsboro">
                    <div ng-show="byQueuingNumberFlag==false">
                        لا يوجد أي تلميذ أو تلميذة بهذا الإسم.
                    </div>
                    <div ng-show="byQueuingNumberFlag==true">
                        لا يوجد أي تلميذ أو تلميذة بهذا الرقم.
                    </div>
                </div>
                <span ng-if="textToSearch!=''">
                    <hdr-student ng-repeat="student in foundStudents" ng-init="showborder=true;page='search';mode='m2'"></hdr-student>
                </span>

                <!--    </ul> -->
            </div>
        </div>
        <div ng-if="students_view.length==0"  style="height: 100%;width: 100%;padding-top: 20px;text-align: center">
            <p class="title" style="font-size: 1.7em;line-height: 2em;padding: 14px;padding-top: 1vmax">
                <!--  هنا، سيتم إظهار سجل تغيبات التلاميذ عبر الحصص المسجلة. -->
                <i class="icon ion-ios-search-strong" style="font-size: 45vmax;opacity: 0.2"></i>
                <div dir="rtl" style="font-size: 2.6vmax;padding: 2vmax;text-align: justify;line-height: 4.2vmax;color: rgba(24, 60, 71, 0.53)">
                    لا يتوفر التطبيق على لوائح التلاميذ، لمزيد من المعلومات أنظر تبويبة الأقسام
                    <span class="icon ion-android-contacts "></span> .

                </div>
            </p>
        </div>
    </ion-content>
</ion-view>