<ion-view view-title="الصفحة الرئيسة">
  <ion-content>

    <div class="card" dir="rtl" ng-if="isthereNewVersion">
      <div class="item item-text-wrap" style="background-color: rgba(204, 192, 26, 0.623)">
        <div class="hdr-parag" >
          <div class="hdr-title" style="margin-bottom: 12px;">
            <span class="icon ion-loop assertive"> </span>تحديث جديد :</span>
          </div>
          <div style="padding: 4px;">
            تحديث جديد بمزايا إضافية.. مزيد من المعلومات على هذا الرابط :
            <br/>
            <table style="width: 100%">
              <tr>
                <td style="vertical-align: middle;text-align: center;padding: 8px">
                  <a href="#" on-tap="goToPlayStore()" target="_blank">https://goo.gl/bZz1sD</a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    
    <div class="card " dir="rtl" ng-if="isthereAreRemarkableStudents">
      <div class="item item-text-wrap  hdr-bg">
        <div class="hdr-parag">
          <div class="hdr-title" style="margin-bottom: 12px;"> الملاحظات المدونة:</div>
          <div style="padding: 4px;zoom: 0.88">
            <div ng-repeat="student in remarkablesStudents" ng-class="'hdr-bg-second'">
              <hdr-student ng-init="showborder=false;page='search';mode='m2'">
              </hdr-student>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card " dir="rtl" ng-if="isthereAreAbsent">
      <div class="item item-text-wrap  hdr-bg">
        <div class="hdr-parag">
          <div class="hdr-title" style="margin-bottom: 12px;"> التلاميذ الأكثر غيابا:</div>
          <div style="padding: 4px;zoom: 0.88">
            <div ng-repeat="student in mostabsentStudents" ng-class="'hdr-bg-second'">
              <hdr-student ng-init="showborder=false;page='search';mode='m2'">
              </hdr-student>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="card " dir="rtl">
      <div class="item item-text-wrap  hdr-bg">

        <div class="hdr-parag">
          <div class="hdr-title" style="margin-bottom: 12px;"> نُبذة عن التطبيق</div>
          <div>

            يقدم تطبيق
            <span style="color:red"> "حضور 7odoor"</span>
            طريقة لإنجاز عملية النداء خلال الحصص الدراسية لتحديد المتغيبين من التلاميذ باستعمال الهاتف الذكي.
            <br/> يأتي هذا التطبيق ضمن الأدوات الرقمية المحمولة المُعينة للمدرس خلال الممارسة الصفية، حيث يوظف إمكانات تكنلوجيا
            المعلومات والاتصال ليبسط و يرقمن تتبع حضور و مواظبة المتمدرسين، كما يوفر كذلك إمكانية تدوين ملاحظات تهم الحصص
            و التلاميذ كلٌ على حدة.
          </div>
          <br/>
          <p style="text-align: center">
            <img src="img/hodoor_pic.png" width="100%">
          </p>
          <div>
            جدير بالذكر أن هذا التطبيق صُمم لكي يتتبع مواظبة التلاميذ لكل مدرس بشكل مستقل، كما صُمم كذلك للعمل دون الحاجة للربط بشبكة
            الأنترنت.
            <br>
            <br>
            <div class="hdr-title" style="margin-bottom: 12px;">كيف يعمل التطبيق؟</div>
            لا يعتمد التطبيق على اسم المستخدم و كلمة المرور لتحديد هوية المستخدم، لكي يتأكد التطبيق من أن المستخدم هو أحد المدرسين، يحب
            أن يتوفر هاتف هذا الأخير على ملف لوائح التلاميذ المُصدَّرة من موقع "مسار" عن طريق اختيار التصدير حسب الأستاذ.
            <br/>
            <div style="text-align: center">
              <img src="img/massar-export01.png" width="75%" style="padding: 8px;" alt="">
              <img src="img/phone-exportcc.png" width="22%" alt="">
            </div>
            بعد ذلك، يمكن للمدرس أن يزود التطبيق بلوائح التلاميذ عن طريق تبويبة الأقسام
            <span class="icon ion-android-contacts"></span>.
          </div>
          <!-- <p style="text-align: center" > <img src="img/pic66.png" width="45%"><img src="img/pic55.png" width="45%"></p> -->

        </div>
      </div>
    </div>

    <div class="card " dir="rtl">
      <div class="item item-text-wrap  hdr-bg">
        <p style="padding: 16px" class="hdr-parag ">
          للمزيد من التفاصيل و التعرف على طريقة إشتغال التطبيق بمزيد من التوضيح، المرجو الإطلاع على المدونة الخاصة بالتطبيق على الرابط
          التالي :
          <!--  <a href="http://7odoor.blogspot.com/" target="_blank" style="font-size: 16px"></a> -->
          <button class="button button-clear button-block" ng-click="goToBlog()">7odoor.blogspot.com</button>
        </p>
      </div>
    </div>

    <!-- <div class="card" dir="rtl">sty
      ***
    </div> -->


  </ion-content>
</ion-view>