<ion-view view-title="الصفحة الرئيسة">
  <ion-content style="padding: 4px;padding-top: 12px;">

    <!--     <ul>
      <li style="height:10;" ng-repeat="color in colors">
        <p ng-style="{'background-color': color}" style="height: 30px ">{{color}}</p>
      </li>
    </ul> -->

    <div class="" dir="rtl" ng-show="observationUpdateMode==false">

      <div>
        <table id="covid-alert">
          <tr>
            <td>
              <div><img src="img/wachhand.png" width="15%" /></div>
              <div style="margin: 10px;">
                حافظ(ي) على روتين صحي
              </div>
              <div
                style="margin: auto;background-color: rgba(255, 0, 0, 0.898);width: fit-content;text-align: center;border-radius: 8px;padding:1px 6px 1px 6px">
                <span style="color:white">COVID-19 alert</span>
                <span style="font-size: 1.2em;color: white;" class="icon ion-alert-circled"></span>
              </div>
            </td>

          </tr>
        </table>
      </div>

    </div>


    <div class="card " dir="rtl" ng-show="observationUpdateMode==false" ng-if="isthereNewVersion">
      <div class="item item-text-wrap hdr-bg" style="border:3px solid rgba(255, 187, 0, 0.435) ;">
        <div>
          <div class="hdr-title">
            تحديث جديد
          </div>
          <div class="hdr-parag">
            تحديث جديد بمزايا إضافية.. مزيد من المعلومات على الرابط التالي :
          </div>
          <div style="text-align: center;margin-top: 8px;">
            <a href="#" on-tap="goToPlayStore()" target="_blank">
              https://goo.gl/bZz1sD
            </a>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="card " dir="rtl">
      <div class="item item-text-wrap hdr-bg">

        <div class="hdr-title">
          مذكرات العمل
        </div>

        <table ng-show="observationUpdateMode==true"
          style="margin-top: 4px;width: 100%;background: linear-gradient(to bottom,rgba(235, 235, 235, 0.325),rgba(255, 255, 255, 0));">
          <tr>
            <td style="width: 80%;padding:0px">
              <textarea placeholder="قم بالنقر هنا، لإضافة مذكرات العمل." id="hdr-textarea-observation"
                ng-model="teacher.diary"
                style="width: 100%;background-color: inherit;padding: 2px;font-size: 14px;font-family: hdrFont"
                rows="6"></textarea>
            </td>
          </tr>
        </table>
        <table ng-show="observationUpdateMode==false" style="margin-top: 4px;width: 100%;
    background: linear-gradient(to bottom,rgba(235, 235, 235, 0.325),rgba(255, 255, 255, 0));">
          <tr>
            <td style="width: 80%;padding:0px;">
              <textarea disabled on-tap="switchObservationUpateMode()" placeholder="قم بالنقر هنا، لإضافة مذكرات العمل."
                ng-model="teacher.diary" style="width: 100%;;padding: 2px;font-size: 14px;font-family: hdrFont"
                rows="10"></textarea>
            </td>
          </tr>
        </table>

        <div class="hdr-session-alter-observation" style="position: relative;">

          <div class="">
            <table style="width: 100%">
              <tr>
                <td style="vertical-align: middle" ng-show="observationUpdateMode==false">
                  <!--  <button class="button button-small" ng-click=""
                    style="background-color: transparent;width: 70px;border:1px solid black;color: rgb(8, 14, 54)">تعديل</button> -->
                </td>
                <td style="vertical-align: middle" ng-show="observationUpdateMode==true">
                  <button class="button button-small" ng-click="saveTeacherDiary()"
                    style="background-color: transparent;width: 70px;border:1px solid black;color: rgb(8, 14, 54)">حفظ</button>
                </td>
                <td style="vertical-align: middle" ng-show="observationUpdateMode==true">
                  <button class="button button-small" ng-click="switchObservationUpateMode()"
                    style="background-color: transparent;width: 70px;border:1px solid black;color: rgb(8, 14, 54)">إلغاء</button>
                </td>
                <td style="width: 100%;vertical-align: middle">

                </td>
              </tr>
            </table>
          </div>

        </div>

      </div>
    </div>


    <div class="card " dir="rtl">
      <div class="item item-text-wrap hdr-bg">

        <div class="hdr-title">معلومات عامة</div>
        <div>
          <div class="list" style="text-align: center;">
            <!-- 
            <a href="#" class="item item-icon-right">
              <i class="icon ion-home"></i>
              Enter home address
            </a> -->

            <a href="#" class="item bg-transparent" ng-click="goToOverview(rubrics.most_absent_students)">
              {{rubrics.most_absent_students}}
            </a>

            <a href="#" class="item bg-transparent" ng-click="goToOverview(rubrics.remarked_students)">
              {{rubrics.remarked_students}}
            </a>

            <a href="#" class="item bg-transparent" ng-click="goToOverview(rubrics.remarked_sessions)">
              {{rubrics.remarked_sessions}}
            </a>

            <a href="#" class="item bg-transparent" ng-click="goToOverview(rubrics.rewarded_students)">
              {{rubrics.rewarded_students}}
            </a>
          </div>

        </div>
      </div>
    </div>




    <div class="card " dir="rtl">

      <div class="item item-text-wrap  hdr-bg">

        <div class="hdr-parag">
          <div class="hdr-title" style="margin-bottom: 12px;"> نُبذة عن التطبيق</div>



          <div>

            <p>
              يقدم تطبيق المساعد التربوي الرقمي الذكي (أو اختصارا HODOOR) طريقة مبتكرة للاستثمار البيداغوجي و التربوي
              لعملية أخذ الغياب بين صفوف التلاميذ خلال الحصص الدراسية، وذلك باستعمال الهاتف الذكي.

            </p>
            <p>
              يأتي هذا التطبيق ضمن الأدوات الرقمية المحمولة المُعينة للمدرسين خلال الممارسة الصفية، حيث يوظف إمكانات
              تكنلوجيا المعلومات والاتصال ليبسط و يرقمن تتبع حضور و مواظبة المتمدرسين، كما يوفر كذلك اقتراحات بيداغوجية
              مساعدة لعملهم .
            </p>
          </div>
          <br />
          <p style="text-align: center">
            <img src="img/hodoor_pic.jpg" width="100%">
          </p>
          <div>
            جدير بالذكر أن هذا التطبيق صُمم لكي يتتبع مواظبة التلاميذ لكل مدرس بشكل مستقل، كما صُمم كذلك للعمل دون
            الحاجة للربط بشبكة
            الأنترنت.
            <br>
            <br>
            <div class="hdr-title" style="margin-bottom: 12px;">كيف يعمل التطبيق؟</div>
            يقوم التطبيق بملء قاعدة بياناته من ملفات Excel التي تتضمن لوائح التلاميذ و التي يمكن تحميلها إنطلاقا من موقع
            مسار.<br />
            قم بتنزيل لوائح الأقسام المسندة.
            بعد ذلك، قم بتزويد التطبيق بلوائح التلاميذ عن طريق تبويبة الأقسام
            <span class="icon ion-android-contacts"></span>
            أسفله.
          </div>
          <!-- <p style="text-align: center" > <img src="img/pic66.png" width="45%"><img src="img/pic55.png" width="45%"></p> -->

        </div>
      </div>
    </div>

    <div class="card " dir="rtl">
      <div class="item item-text-wrap  hdr-bg">
        <p style="padding: 16px" class="hdr-parag ">
          للمزيد من التفاصيل و التعرف على طريقة إشتغال التطبيق بمزيد من التوضيح، المرجو الإطلاع على المدونة الخاصة
          بالتطبيق على الرابط
          التالي :
          <!--  <a href="http://7odoor.blogspot.com/" target="_blank" style="font-size: 16px"></a> -->
          <button class="button button-clear button-block" ng-click="goToBlog()">7odoor.blogspot.com</button>
        </p>
      </div>
    </div>

    <!-- <div class="card" dir="rtl">sty
      ***
    </div> -->


  </ion-content>
</ion-view>