<ion-view view-title="الصفحة الرئيسة">
  <ion-content>

    <ul>
      <li style="height:10;" ng-repeat="color in colors">
        <p ng-style="{'background-color': color}" style="height: 30px ">{{color}}</p>
      </li>
    </ul>


    <div class="card" dir="rtl" ng-if="isthereNewVersion">
      <div class="item item-text-wrap" style="background-color: rgba(226, 230, 12, 0.671)">
        <div class="hdr-parag">
          <div class="hdr-title" style="margin-bottom: 12px;">
            <span class="icon ion-loop assertive"> </span>تحديث جديد :</span>
          </div>
          <div style="padding: 4px;">
            تحديث جديد بمزايا إضافية.. مزيد من المعلومات على هذا الرابط :
            <br />
            <table style="width: 100%">
              <tr>
                <td style="vertical-align: middle;text-align: center;padding: 8px">
                  <a href="#" on-tap="goToPlayStore()" target="_blank">
                    https://goo.gl/bZz1sD
                  </a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="card " dir="rtl" ng-if="remarkableStudents.lenght>0">
      <div class="item item-text-wrap  hdr-bg">
        <div class="hdr-parag">
          <div class="hdr-title" style="margin-bottom: 12px;"> الملاحظات المدونة:</div>
          <div style="padding: 4px;zoom: 0.88">
            <div ng-repeat="student in remarkableStudents" ng-class="'hdr-bg-second'">
              <hdr-student ng-init="showborder=false;page='search';mode='m2'">
              </hdr-student>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card " dir="rtl" ng-if="isthereAreAbsent">
      <div class="item item-text-wrap  hdr-bg">
        <div class="hdr-parag">
          <div class="hdr-title" style="margin-bottom: 12px;"> التلاميذ الأكثر غيابا:</div>
          <div style="padding: 4px;zoom: 0.88">
            <div ng-repeat="student in mostabsentStudents" ng-class="'hdr-bg-second'">
              <hdr-student ng-init="showborder=false;page='search';mode='m2'">
              </hdr-student>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="card " dir="rtl">
      <div class="item item-text-wrap  hdr-bg">

        <div class="hdr-parag">
          <div class="hdr-title" style="margin-bottom: 12px;"> نُبذة عن التطبيق</div>
          <div>

              <p>
                يقدم تطبيق المساعد التربوي الرقمي الذكي  (أو اختصارا HODOOR ) طريقة مبتكرة للاستثمار البيداغوجي و التربوي لعملية أخذ الغياب بين صفوف التلاميذ خلال الحصص الدراسية، وذلك باستعمال الهاتف الذكي.

              </p>
              <p>
                يأتي هذا التطبيق ضمن الأدوات الرقمية المحمولة المُعينة للمدرسين خلال الممارسة الصفية، حيث يوظف إمكانات تكنلوجيا المعلومات والاتصال ليبسط و يرقمن تتبع حضور و مواظبة المتمدرسين، كما يوفر كذلك اقتراحات بيداغوجية مساعدة لعلملهم .
              </p>
          </div>
          <br />
          <p style="text-align: center">
            <img src="img/hodoor_pic.jpg" width="100%">
          </p>
          <div>
            جدير بالذكر أن هذا التطبيق صُمم لكي يتتبع مواظبة التلاميذ لكل مدرس بشكل مستقل، كما صُمم كذلك للعمل دون
            الحاجة للربط بشبكة
            الأنترنت.
            <br>
            <br>
            <div class="hdr-title" style="margin-bottom: 12px;">كيف يعمل التطبيق؟</div>
            يقوم التطبيق بملء قاعدة بياناته من ملفات Excel التي تتضمن لوائح التلاميذ و التي يمكن تحميلها إنطلاقا من موقع
            مسار.<br/>
            قم بتنزيل لوائح الأقسام المستدة.
            بعد ذلك، قم بتزويد التطبيق بلوائح التلاميذ عن طريق تبويبة الأقسام
            <span class="icon ion-android-contacts"></span>
            أسفله.
          </div>
          <!-- <p style="text-align: center" > <img src="img/pic66.png" width="45%"><img src="img/pic55.png" width="45%"></p> -->

        </div>
      </div>
    </div>

    <div class="card " dir="rtl">
      <div class="item item-text-wrap  hdr-bg">
        <p style="padding: 16px" class="hdr-parag ">
          للمزيد من التفاصيل و التعرف على طريقة إشتغال التطبيق بمزيد من التوضيح، المرجو الإطلاع على المدونة الخاصة
          بالتطبيق على الرابط
          التالي :
          <!--  <a href="http://7odoor.blogspot.com/" target="_blank" style="font-size: 16px"></a> -->
          <button class="button button-clear button-block" ng-click="goToBlog()">7odoor.blogspot.com</button>
        </p>
      </div>
    </div>

    <!-- <div class="card" dir="rtl">sty
      ***
    </div> -->


  </ion-content>
</ion-view>