<style>

</style>

<div dir="rtl" class="hdr-help-popup">
    <div style="text-align: justify;padding: 2px;font-size: 12px;line-height: 18px">
        <table style="font-size: 12px">
            <tr><td>
            هناك حالتان قد نجدهما عند القيام بتعديل تغيبات حصة معينة :    
                <ol style="font-size: 12px;padding-right: 10px;" type="1++" start="1">
                    <li>1- إلغاء تغيب تلميذ ما، أُدرج خطأ في لائحة الغياب.</li>
                    <li>2- تغيير تغيب تلميذ إلى تأخر في حالة التحاقة بالفصل بعد مدة من الزمن و قبوله من طرف الأستاذ.</li>
                </ol>
            </td></tr>
            <tr>
                <td>
                    <img src="img/hdr-sessionalterhelp.png" width="100%" style="border: 1px solid rgba(0, 0, 0, 0.318)"  alt="">
                </td>
            </tr>
            <tr>
                <td>
                   
                        <img src="img/hdr-sessionaltercancel.png" width="25px"  alt="">
                        عند النقر على هذا الزر، سيقوم التطبيق بإلغاء  تغيب التلميذ المُحدد.
                </td>
            </tr>
            <tr>
                    <td>
                           
                                <img src="img/hdr-sessionalterlate.png" width="25px"  alt="">
                                عند النقر على هذا الزر، سيقوم التطبيق بتغيير تغيب التلميذ إلى تأخر.
                                <br/>

                        </td>
            </tr>
        </table>
    </div>
</div>