<div dir="rtl" class="hdr-help-popup">
    <div>
        <div>
            <img src="img/double-tap.png" height="40" />
        </div>
        <span> لتحديد التلميذ المتغيب، قم بنقر عارضته مرتين.
        </span>
    </div>

    <div>
        <div>
            <img src="img/swipe-right.png" height="40">
        </div>
        <span> للمرور للعارضات الموالية، قم بلمسة الى اليمين.</span>

    </div>


    <div>
        <div>
            <i class="icon ion-ios-bookmarks positive" style="font-size: 36px"></i>
        </div>
        <span> عند آخر اللائحة، سيظهر زر أزرق في الأعلى، قم بنقره لتسجيل الغياب.</span>

    </div>
</div>