<style>
    #hdr-table-006 td {
        border: 0px;
        /* border: 1px solid red;  */ 
        text-align: center;
        vertical-align: middle;
        width: 14.29%
    }
</style>

<ion-view view-title="سجل الحصص">

    <div class="bar bar-subheader"
        style="height: 45px;padding: 0px;border: 0px;background-color: rgba(211, 224, 228, 0.5) ">
        <table id="hdr-table-006" style="width: 100%;height: 100%">
            <tr>
                <!--                 <td>

                    <button class="button button-clear" style="zoom: 0.8;width: 45px;height: 45px"
                        ng-click="showHelpPopup(sessions_view)">
                        <i class="icon ion-help"
                            style="font-size: 12px;color: rgba(25, 24, 29,0.8);filter: saturate(0.3)"></i>
                    </button>

                </td> -->



                <td style="width: 30%">
                    <select ng-model="settings.sessionsfiltredBy" dir="rtl"
                        style="text-align:right;font-size: 0.7em;zoom: 1.5;
                            width: 100%;height: 80%;border: 0px;border-bottom: 1px solid rgba(169, 169, 169, 0.3);background-color: transparent">
                        <option value="all">ج. الحصص</option>
                        <option value="1">الإمتحانات فقط</option>
                    </select>
                </td>
                <td style="width: 2%"></td>
                <td style="width: 30%;">
                    <select ng-model="settings.classroomsfilteredBy" dir="rtl"
                        style="font-size: 0.7em;zoom: 1.5;text-align: right;
                            width: 100%;height: 80%;border: 0px;border-bottom: 1px solid rgba(169, 169, 169, 0.3);background-color: transparent">
                        <option value="all">ج. الأقسام</option>
                        <option ng-value="classroom.title" ng-repeat="classroom in classrooms_view">{{classroom.title}}
                        </option>
                    </select>
                </td>
                <td style="width: 2%"></td>
                <td>
                    <button class="button button-clear" ng-click="goToSessionAlter()" style="padding-left: 4px;padding-top: 4px;width: 45px;height: 45px"
                        ng-disabled="sessionsSelected.length==0 || sessionsSelected.length>1">
                        <i class="icon ion-compose" style="color: rgba(25, 24, 29,0.8);filter: saturate(0.3)"></i>
                    </button>
                </td>
                <td>
                    <button class="button button-clear" ng-click="showConfirm()" style="padding-left: 4px;padding-top: 4px;width: 45px;height: 45px"
                        ng-disabled="!sessionsSelected.length>0">
                        <i class="icon ion-trash-b" style="color: rgba(25, 24, 29,0.8);filter: saturate(0.3)"></i>
                    </button>
                </td>
                <td style="background-color: rgba(93, 202, 197, 0.185);width: 45px">
                    <button class="button button-clear" ng-click="refresh()" style="padding-left: 5px;padding-top: 4px;width: 45px;height: 45px">
                        <i class="icon ion-refresh"
                            style="color: rgba(25, 24, 29,0.8);filter: saturate(0.3);zoom: 0.9;"></i>
                    </button>
                </td>
            </tr>
        </table>
    </div>

    <ion-content scroll="true" dir="rtl" style="margin-top: 45px;padding-top: 10px">
        <div ng-repeat="session_view in sessions_view track by $index" dir="rtl"
            style="margin-bottom: 1vmax;width: 94%;margin: auto;margin-top: 4px">


            <hdrabsencehistoryitem></hdrabsencehistoryitem>
            <!-- <div>{{session_view.id}}</div> -->
        </div>

        <div style="text-align: center"
            ng-hide="sessions_view.length==0 || sessions_view.length==sessions_initial_count">
            <button class="button button-large button-clear ion-ios-arrow-down" style="font-size: 40px"
                ng-click="getMore()"></button>
        </div>
        <div style="text-align: center"
            ng-show="sessions_view.length==sessions_initial_count && sessions_view.length>0">
            <i class="ion-record" style="font-size: 25px;opacity: 0.8;"></i>
        </div>
        <div style="text-align: center" ng-show="sessions_view.length==0">
            <p style="padding:10px"> لا توجد حصص..</p>
        </div>

    </ion-content>

</ion-view>