<div dir="rtl" class="hdr-help-popup">
    <div style="text-align: justify;padding: 4px;line-height: 24px" >
<!--             <p>
                يقوم التطبيق بتسجيل غياب التلاميذ باعتماد أرقام مسار التسلسلية، لذلك فتغير أرقامهم الترتيبية داخل الفصل (والذي ينتج عن الإنتقال أو تغيير القسم..) لا يؤثر على سجل الغياب.
            </p> -->
<!--             <p>
                و مع ذلك، يجب الإنتباه الى الأرقام الترتيبية عند نقل الأرقام المتغيبة من الهاتف الى ورقة الغياب الأسبوعية الخاصة بالأدارة.
                <br>
                كما وجب التنتيه أن هذا الإشكال لا يبرز الإ إذا لم تكن الأرقام الترتيبية المعتمدة من طرف الإدارة غير متطابقة مع تلك المعتمدة من طرف منظومة مسار.
            </p> -->
<!--             <p>
                كما وجب التنبيه الى أن الأرقام الترتيبية المستعملة بهذا التطبيق هي تلك المستمدة من طرف منظومة مسار.
            </p> -->
            <img src="img/hdr-classroomshelp.png"  width="100%" alt="">
    </div>
</div>