<ion-view view-title="الفصول الدراسية" cache-view="false">

    <ion-content dir="rtl">
        <div ng-show="classrooms_view.length>0">


            <!--  <ion-spinner ng-if="tapped" icon="lines" class="spinner-assertive" style="position: absolute;top: 35%;left: 35%;z-index: 500"></ion-spinner> -->

            <div class="item item-divider dark title hdr-sub-title" style="font-size: 13px;">


                <table style="width: 105%">
                    <tr>
                        <td> هناك {{students_count_global}} تلميذ وتلميذة موزعين على {{classrooms_view.length}} أقسام.
                            <br /> بمعدل {{(students_count_global/classrooms_view.length)|number:1}} تلميذ في القسم.
                        </td>
                        <td style="text-align: left;vertical-align: middle">
                            <button class="button button-clear ion-help" style="font-size: 30px;"
                                ng-click="showHelpPopup()"></button>
                        </td>
                    </tr>
                </table>
            </div>

            <ul class="list">
                <div class="dark padding">
                    <i class="ion-information-circled assertive"></i>
                    <span class="assertive"> لبدء عملية النداء، قم بنقر القسم المراد.</span>
                </div>
                <li class="item hdr-list-item" style="padding:0;height: auto"
                    ng-repeat="classroom in classrooms_view track by $index"
                    ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">

                    <div class="hdr-classroom-container" style="width: 100%;">
                        <div id="hdr-item0" class="hdr-item">
                            <button class="button button-outline" ng-disabled="classroom.students.length==0"
                                ng-click="showActionSheet(classroom)">
                                <i class="ion-android-more-vertical" ng-hide="clicked" style="zoom: 1.5"></i>
                            </button>
                        </div>
                        <div id="hdr-item1" class="hdr-item"
                            style="position: relative;margin: 4px;width: inherit;height: 80px;">

                            <button ng-disabled="classroom.students.length==0"
                                ng-style="{'background-color': classroom.color }"
                                style="text-align: center;border-radius: 16px;width: 100%;"
                                class="button button-outline" id="{{classroom.id}}"
                                ng-click="startAttendanceCall(classroom,'-1')">

                                <div style="margin-right: 10px;text-align: center;width: 100%">
                                    <div class="hdr-main-text;">
                                        <span class="dark">
                                            <span style="font-size: 1.3em;"> {{classroom.title}}</span>
                                        </span>
                                    </div>
                                    <div class="hdr-sub-text dark"
                                        style="white-space: normal;line-height: 1.1em;width: 100%;">{{classroom.level}}
                                    </div>
                                </div>
                            </button>


                        </div>
                        <div id="hdr-item2" class="hdr-item">
                            <button class="button button-outline button-dark" ng-disabled="classroom.students.length==0"
                                ng-click="goToStudentsView(classroom)">
                                <span ng-if="classroom.students.length>=0"> {{classroom.students.length}} تلميذ</span>
                                <i class="ion-chevron-left"></i>
                            </button>
                        </div>
                    </div>
                </li>

            </ul>

        </div>

        <div ng-show="classrooms_view.length==0 && isDataFileExist==false">
            <div>
                <div dir="rtl" style="padding: 18px" class="hrd-parag">
                    <div
                        style="border: 1px solid rgba(124, 26, 26, 0.507);background-color: rgba(218, 25, 25, 0.226);padding: 16px;">
                        <span class="icon ion-alert-circled assertive" style="font-size: 8vmax"></span>
                        <p class="hdr-title">
                            لم يتم إضافة أي فصل دراسي بعد.
                        </p>
                    </div>
                    <br />

                    <div class="hdr-parag">
                        يقوم التطبيق بإضافة الفصول الدراسية إنطلاقا من ملفات إكسل التي تحتوي على لوائح النلاميذ.
                    </div>
                    <div class="hdr-parag">
                        قم بتحديد ملف إكسل عن طريق هذا الزر.
                    </div>


                    <div style="width:100%;text-align: center;visibility: hidden;">
                        <button class="button icon-right ion-document button-large button-positive"
                            style="width:60%;;" ng-click="zipFilesAndImportClassrooms()">
                            حدد ملف Excel
                        </button>

                    </div>

                    <div style="width:100%;text-align: center;">
                        <button class="button icon-right ion-document button-large button-positive"
                            style="width:60%;;" ng-click="extarctClassroomFromExcel()">
                            حدد ملف Excel
                        </button>

                    </div>

                    <br />
                    <div>

                        <div class="hdr-parag">
                            عند تحديد الملف، سيتأكد التطبيق من وجود العناصر الأساسية التالية :
                            <ol style="list-style-type: decimal; zoom: 0.9;padding-right: 26px;">
                                <li>عمود بعنوان : <b>الإسم</b></li>
                                <li>عمود بعنوان : <b>النسب</b></li>
                                <li>
                                    أو عمود بعنوان : <b>الإسم الكامل</b>، إذ كان الإسم و النسب مجتمعين في عمود واحد 
                                </li>
                                <li>خانة بعنوان : <b>القسم</b></li>
                                <li>خانة بعنوان : <b>المستوى</b></li>
                            </ol>
                            <br/>
                             يمكن للتطبيق إغناء قاعدة بياناته بالعناصر التالية إن وجدت:
                            <ol style="list-style-type: decimal; zoom: 0.9;padding-right: 26px;">
                                <li>عمود بعنوان : <b>تاريخ الإزدياد</b></li>
                                <li>عمود بعنوان : <b>النوع</b></li>
                            </ol>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </ion-content>
</ion-view>