#hdr-classroom-page{
    margin: 10px 20px 10px 20px;
    background-image:linear-gradient(45deg, rgba(255,255,255,1) 0%, rgb(236, 237, 240) 100%);
    padding: 10px;
    zoom: 0.8;
    border: #c8c8c8 solid 2px;
}